<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I thought the only time that i was supposed to come on work was Monday only,they didnt tell me that all the days of the week are work days!Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I thought the only time that i was supposed to come on work was Monday only,they didnt tell me that all the days of the week are work days!Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum </p>
        </div>
    </body>
</html>